* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas-container {
  padding: 40px;
  border-radius: 12px;
  margin: auto;
}

#canvas {
  background-color: rgb(143, 137, 137);
  border-radius: 12px;
  border: 1px solid black;
}
